{% extends "layouts/page.twig" %}
{% block body %}
<section>
    <div style="padding: 20px;">
        <h1>
            <blockquote>
                Uhm...
            </blockquote>
        </h1>
        <p>
            È successo qualcosa di non bello...<br>
            Contatta gli amministratori del gruppo di Telegram per saperne di più...
        </p>
        <div style="text-align: center">
            <button onclick="location.href='/'">
                Torna alla homepage
            </button>
        </div>
    </div>
</section>
{% endblock %}