{% extends "layouts/page.twig" %}
{% block body %}
<section>
    <div style="padding: 20px;">
        <h1>
            Privacy
        </h1>
        <p>
            I dati che raccogliamo sono: nome, cognome, email di istituto e ID di Telegram.<br>
            Questi dati non sono condivisi con nessun servizio e sono inoltre crittografati tramite AES-128.<br>
            Se vuoi altre informazioni, contatta @macca_ferri su Telegram.
        </p>
    </div>
</section>
{% endblock %}