{% extends "layouts/page.twig" %}
{% block body %}
<section>
    <div style="padding: 20px;">
        <h1>
            <blockquote>
                Accesso non consentito
            </blockquote>
        </h1>
        <p>
            Qualsiasi cosa tu stia cercando di fare, non puoi farla.
        </p>
        <div style="text-align: center">
            <button onclick="location.href='/'">
                Torna alla homepage
            </button>
        </div>
    </div>
</section>
{% endblock %}